:host {
  display: block;
  height: 100%;
  width: 100%;

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

    .selected-book {
      display: flex;
      border: 1px solid black;
      width: 95%;
      height: 30%;
    }

    .my-books {
      display: flex;
      border: 1px solid black;
      width: 95%;
      height: 68%;
    }
  }
}
