:host {
  display: block;
  height: 100%;
  width: 100%;

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

    .selected-book {
      display: flex;
      border: 1px solid black;
      width: 95%;
      height: 30%;
    }

    .my-books {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      border: 1px solid black;
      width: 95%;
      height: 68%;
      overflow-y: auto;

      .example-card {
        margin-top: 1.5rem;
        width: 135px;
        height: 168px;
        border: 2px solid #956f32;
        position: relative;

        .title-card {
          font-size: 12px;
          width: 110px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .author {
          width: 110px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .mat-mdc-card-header {
          padding: 5px 0 0 10px;
        }
      }
    }
  }
}
