<form [formGroup]="bookForm" class="form" (ngSubmit)="registerBook()">
  <div class="register-modal">
    <div class="form-container">
      <mat-form-field class="form-field">
        <mat-label>Enter book title</mat-label>
        <input matInput placeholder="Title" formControlName="title" required />
        <mat-error *ngIf="title && title.invalid && title.touched">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="form-container">
      <mat-form-field class="form-field">
        <mat-label>Enter author book</mat-label>
        <input
          matInput
          placeholder="Author"
          formControlName="author"
          required
        />
        <mat-error *ngIf="author && author.invalid && author.touched">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="form-container">
      <mat-form-field class="form-field">
        <mat-label>Enter book isbn</mat-label>
        <input matInput placeholder="Isbn" formControlName="isbn" required />
        <mat-error *ngIf="isbn && isbn.invalid && isbn.touched">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="form-container">
      <mat-form-field class="form-field">
        <mat-label>Enter book language</mat-label>
        <mat-select placeholder="Language" formControlName="language" required>
          <mat-option
            *ngFor="let language of languageSource"
            [value]="language.original"
            >{{ language.original }}</mat-option
          >
        </mat-select>
        <mat-error *ngIf="language && language.invalid && language.touched">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="form-container">
      <mat-form-field class="form-field">
        <mat-label>Choose book condition</mat-label>
        <mat-select
          placeholder="Condition"
          formControlName="condition"
          required
        >
          <mat-option
            *ngFor="let condition of conditionData"
            [value]="condition.condition"
            >{{ condition.condition }}</mat-option
          >
        </mat-select>
        <mat-error
          *ngIf="condition && condition.invalid && condition.touched"
          >{{ getErrorMessage() }}</mat-error
        >
      </mat-form-field>
    </div>

    <div class="form-container">
      <mat-form-field class="form-field">
        <mat-label>Number of pages</mat-label>
        <input
          matInput
          placeholder="Number of pages"
          formControlName="numberOfPages"
          required
        />
        <mat-error *ngIf="isbn && isbn.invalid && isbn.touched">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="form-container">
      <mat-form-field class="form-field">
        <mat-label>Enter book category</mat-label>
        <mat-select placeholder="Category" formControlName="category" required>
          <mat-option
            *ngFor="let book of categorySource"
            [value]="book.original"
            >{{ book.original }}</mat-option
          >
        </mat-select>
        <mat-error *ngIf="category && category.invalid && category.touched">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="form-container">
      <mat-form-field class="form-field">
        <mat-label>Enter book publisher</mat-label>
        <input
          matInput
          placeholder="Publisher"
          formControlName="publisher"
          required
        />
        <mat-error *ngIf="publisher && publisher.invalid && publisher.touched">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="button">
    <button class="login" mat-raised-button>Save</button>
  </div>
</form>
