:host {
    display: block;
    height: 100%;
  
    .register-modal {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      // border: 1px solid black;
  
      .form-container {
          width: 40%;
        .form-field {
          display: flex;
          justify-content: center;
          // width: 60%;
          margin: 0 auto;
          margin-top: 40px;
        }
      }
  
      .password-container {
          width: 40%;
        .password-form-field {
          display: flex;
          justify-content: center;
          // width: 60%;
          margin: 0 auto;
          margin-top: 40px;
          position: relative;
  
          .password-input {
            width: 80%;
          }
  
          .hide-icon {
            position: absolute;
            right: 0.1rem;
            top: 1rem;
            cursor: pointer;
            opacity: 50%;
          }
  
          .show-icon {
            position: absolute;
            right: 0.1rem;
            top: 1rem;
            cursor: pointer;
            opacity: 50%;
          }
        }
      }
    }
    .button {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      margin-top: 100px;
      .login {
        width: 40%;
        height: 40px;
        background-color: #3068cb;
        color: #fff;
        font-size: 18px;
      }
    }
    .login-into-account {
      display: flex;
      justify-content: center;
  
      .login-link {
        text-decoration: none;
        color: #3068cb;
      }
    }
  }
  