:host {
  display: block;
  height: 100%;

  .login-container {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url("../../../../../src/assets/bc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    .left-section {
      width: 30%;
      height: 100%;

      .modal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 3%;
        width: 94%;
        background-color: #3068cb;
        height: 96%;
        border-radius: 20px;

        .main-text {
          display: flex;
          justify-content: flex-start;
          color: #fff;
          text-transform: uppercase;
          padding: 30px 0 0 40px;
        }

        .image {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .focus-title {
          display: flex;
          justify-content: center;
          color: #fff;
          font-size: 52px;
          padding: 100px 20px 0 40px;
        }

        .description-title {
          display: flex;
          justify-content: center;
          color: #fff;
          padding: 0px 30px 0 40px;
          margin: 0;
          font-size: 32px;
          opacity: 0.85;
          font-weight: 100;
        }
      }
    }

    .right-section {
      width: 70%;
      height: 100%;
      // border: 1px solid black;

      .center-content {
        width: 80%;
        height: 80%;
        // border: 1px solid black;
        margin: 0 auto;
        margin-top: 80px;

        .login-title {
          display: flex;
          justify-content: center;
          width: 100%;
          font-size: 36px;
        }

        .form {
          width: 100%;
          height: 70%;
          margin-top: 90px;
          .login-modal {
            width: 60%;
            height: 100%;
            margin: 0 auto;
            // border: 1px solid black;

            .email-container {
              .email-form-field {
                display: flex;
                justify-content: center;
                width: 60%;
                margin: 0 auto;
                margin-top: 40px;
              }
            }

            .password-container {
              .password-form-field {
                display: flex;
                justify-content: center;
                width: 60%;
                margin: 0 auto;
                margin-top: 40px;
                position: relative;

                .password-input {
                  width: 80%;
                }

                .hide-icon {
                  position: absolute;
                  right: 0.1rem;
                  top: 1rem;
                  cursor: pointer;
                  opacity: 50%;
                }

                .show-icon {
                  position: absolute;
                  right: 0.1rem;
                  top: 1rem;
                  cursor: pointer;
                  opacity: 50%;
                }
              }
            }
            .button {
              display: flex;
              justify-content: center;
              margin: 0 auto;
              margin-top: 100px;
              .login {
                width: 60%;
                height: 40px;
                background-color: #3068cb;
                color: #fff;
                font-size: 18px;
              }
            }

            .google-button {
              width: 60%;
              height: 42px;
              margin: 0 auto;
              margin-top: 20px;
              background-color: #4285f4;
              border-radius: 2px;
              box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
              .google-icon-wrapper {
                position: absolute;
                margin-top: 1px;
                margin-left: 1px;
                width: 40px;
                height: 40px;
                border-radius: 2px;
                background-color: #fff;
              }
              .google-icon {
                position: absolute;
                margin-top: 11px;
                margin-left: 11px;
                width: 18px;
                height: 18px;
              }
              .button-text {
                display: flex;
                justify-content: center;
                color: #fff;
                font-size: 18px;
                padding-top: 10px;
              }
            }
          }
        }
        .create-account {
          display: flex;
          justify-content: center;

          .register-link {
            text-decoration: none;
            color: #3068cb;
          }
        }
      }
    }
  }
}
