:host {
  display: block;
  height: 100%;

  .login-container {
    display: flex;
    width: 100%;
    height: 100%;

    .left-section {
      width: 40%;
      height: 100%;

      .modal {
        margin: 3%;
        width: 94%;
        background-color: #3c37ff;
        height: 96%;
        border-radius: 20px;

        .modal-title {
          display: flex;
          justify-content: center;
          color: #fff;
          text-transform: uppercase;
          padding-top: 10px;
        }
      }
    }

    .right-section {
      width: 60%;
      height: 100%;
      border: 1px solid black;
    }
  }
}
