<div class="login-container">
  <div class="left-section">
    <div class="modal">
      <div>
        <h4 class="main-text">swap book</h4>
      </div>
      <div>
        <h1 class="focus-title">Read new book, meet new friend.</h1>
        <h3 class="description-title">
          Discover the world's best community of swapers and readers online.
        </h3>
      </div>
      <div class="image">
        <img
          src="../../../../assets/left-section.png"
          alt=""
          width="90%"
          height="80%"
        />
      </div>
    </div>
  </div>
  <div class="right-section">
    <div class="center-content">
      <h2 class="login-title">Login</h2>
      <form [formGroup]="loginForm" class="form">
        <div class="login-modal">
          <div class="email-container">
            <mat-form-field class="email-form-field">
              <mat-label>Enter your email</mat-label>
              <input
                matInput
                placeholder="Email"
                formControlName="email"
                required
              />
              <mat-error *ngIf="email && email.invalid && email.touched">{{
                getErrorMessage()
              }}</mat-error>
            </mat-form-field>
          </div>
          <div class="password-container">
            <mat-form-field class="password-form-field">
              <mat-label>Enter your password</mat-label>
              <input
                class="password-input"
                matInput
                placeholder="Password"
                type="{{ type }}"
                formControlName="password"
                required
              />
              <mat-icon
                (click)="togglePassword($event)"
                *ngIf="showPassword"
                svgIcon="sb:hide-text"
                class="hide-icon"
              ></mat-icon>
              <mat-icon
                (click)="togglePassword($event)"
                *ngIf="!showPassword"
                svgIcon="sb:show-text"
                class="show-icon"
              ></mat-icon>
              <mat-error
                *ngIf="password && password.invalid && password.touched"
                >{{ getErrorMessage() }}</mat-error
              >
            </mat-form-field>
          </div>
          <div class="button">
            <button class="login" mat-raised-button>Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
