:host {
  display: block;
  height: 100%;

  .login-container {
    display: flex;
    width: 100%;
    height: 100%;

    .left-section {
      width: 30%;
      height: 100%;

      .modal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 3%;
        width: 94%;
        background-color: #3068cb;
        height: 96%;
        border-radius: 20px;

        .main-text {
          display: flex;
          justify-content: flex-start;
          color: #fff;
          text-transform: uppercase;
          padding: 30px 0 0 40px;
        }

        .image {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .focus-title {
          display: flex;
          justify-content: center;
          color: #fff;
          font-size: 52px;
          padding: 100px 20px 0 40px;
        }

        .description-title {
          display: flex;
          justify-content: center;
          color: #fff;
          padding: 0px 30px 0 40px;
          margin: 0;
          font-size: 32px;
          opacity: 0.85;
          font-weight: 100;
        }
      }
    }

    .right-section {
      width: 70%;
      height: 100%;
      border: 1px solid black;

      .center-content {
        width: 80%;
        height: 80%;
        border: 1px solid black;
        margin: 0 auto;
        margin-top: 80px;

        .login-title {
          display: flex;
          justify-content: center;
          width: 100%;
          font-size: 36px;
        }

        .form {
          width: 100%;
          height: 70%;
          .login-modal {
            width: 60%;
            height: 100%;
            margin: 0 auto;
            border: 1px solid black;

            .email-container {
              .email-form-field {
                display: flex;
                justify-content: center;
                width: 60%;
                margin: 0 auto;
                margin-top: 40px;
              }
            }

            .password-container {
              .password-form-field {
                display: flex;
                justify-content: center;
                width: 60%;
                margin: 0 auto;
                margin-top: 40px;
                position: relative;

                .hide-icon {
                  position: absolute;
                  right: 0.1rem;
                  top: 1rem;
                  cursor: pointer;
                  opacity: 50%;
                  border: 1px solid red;
                }

                .show-icon {
                  position: absolute;
                  right: 0.1rem;
                  top: 1rem;
                  cursor: pointer;
                  opacity: 50%;
                  border: 1px solid black;
                }
              }
            }
          }
        }
      }
    }
  }
}
