<div class="login-container">
  <div class="left-section">
    <div class="modal">
      <div>
        <h2 class="modal-title">swap book</h2>
      </div>
      <div>
        <h3>read new book meet new friend</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde
          reprehenderit voluptatibus consectetur autem nisi labore optio.
          Cupiditate officiis, pariatur aperiam saepe numquam minus consequuntur
          excepturi necessitatibus? Quasi quam provident inventore.
        </p>
      </div>
      <div class="image">
        <img
          src="../../../../assets/left-section.png"
          alt=""
          width="90%"
          height="80%"
        />
      </div>
    </div>
  </div>
  <div class="right-section"></div>
</div>
