:host {
  display: block;

  .select-book {
    display: flex;
    .example-card {
      margin-top: 5%;
      margin-left: 12%;
      width: 180px;
      border: 2px solid #956f32;
      position: relative;

      .title-card {
        font-size: 14px;
        width: 160px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .author {
        width: 160px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .mat-mdc-card-header {
        padding: 5px 0 0 10px;
      }

      .mdc-card__media:last-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      .pen {
        position: absolute;
        right: -6.5%;
        top: -3.8%;
        cursor: pointer;
      }
    }
  }
}
