<div class="select-book" *ngFor="let book of userBooks">
  <mat-card class="example-card">
    <img
      src="../../../../assets/pen.png"
      alt=""
      class="pen"
      (click)="selectBook(book.id)"
    />
    <mat-card-header style="background-color: #f6f7f9">
      <mat-card-title class="title-card"
        >Title: {{ book.title }}</mat-card-title
      >
      <mat-card-subtitle style="font-size: 12px"
        >Author: {{ book.author }}</mat-card-subtitle
      >
      <mat-card-subtitle style="font-size: 12px"
        >Condition: {{ book.condition }}</mat-card-subtitle
      >
    </mat-card-header>
    <img
      mat-card-image
      src="../../../../assets/book-cover.png"
      alt="Photo of a Book"
      style="height: 150px"
    />
  </mat-card>
</div>
