:host {
  display: block;
  width: 100%;

  .container {
    background-color: #5a85c2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    color: white;
    font-size: 18px;

    .title {
      display: flex;
      width: 50%;
      margin-left: 2%;
    }

    .user-settings {
      display: flex;
      justify-content: flex-end;
      width: 50%;
      margin-right: 2%;
    }
  }
}
