:host {
    display: block;
    width: 100%;

    .container {
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
}