:host {
    display: block;
  
    .example-card {
      margin-top: 5%;
      margin-left: 12%;
      width: 260px;
      border: 2px solid #956f32;
  
      .title-card {
        font-size: 14px;
        width: 240px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
  
      .mat-mdc-card-header {
        padding: 5px 0 0 10px;
      }
  
      .mdc-card__media:last-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
  