:host {
  display: block;

  .back-icon {
    margin-top: 1%;
    margin-left: 2%;
  }

  .edit-mode-on {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;

    .edit-form {
      margin-top: 4%;
      width: 350px;
      height: 350px;
      border: 2px solid #3068cb;

      .edit-area {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .inputs {
          width: 90%;
        }
      }
      .button {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 100px;
        .login {
          width: 90%;
          height: 40px;
          background-color: #3068cb;
          color: #fff;
          font-size: 18px;
        }
      }
    }
  }
}
