<div class="back-icon" routerLink="/main">
  <img src="../../../../assets/back.png" alt="" />
</div>
<div class="edit-mode-on">
  <div class="edit-form">
    <ng-container *ngIf="userBook | json">
      <p class="edit-area">
        Title:<input
          type="text"
          class="inputs"
          [(ngModel)]="userBook.book.title"
        />
      </p>
      <p class="edit-area">
        Author:<input
          type="text"
          class="inputs"
          [(ngModel)]="userBook.book.author"
        />
      </p>
      <p class="edit-area">
        Isbn:<input
          type="text"
          class="inputs"
          [(ngModel)]="userBook.book.isbn"
        />
      </p>
      <p class="edit-area">
        Pages:<input
          type="text"
          class="inputs"
          [(ngModel)]="userBook.book.numberOfPages"
        />
      </p>
      <div class="button">
        <button class="login" mat-raised-button (click)="saveUpdatedBook()">Save</button>
        <button class="delete" mat-raised-button (click)="deleteBook(userBook.book.id)">Delete</button>
      </div>
    </ng-container>
  </div>
</div>
