:host {
  display: block;

  .back-icon {
    margin-top: 1%;
    margin-left: 2%;
  }

  .edit-mode-on {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;

    .edit-form {
      margin-top: 4%;
      width: 350px;
      height: 350px;
      border: 2px solid #3068cb;
      border-radius: 20px;
      padding: 20px;

      .edit-area {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .inputs {
          width: 100%;
          height: 20px;
        }
      }
      .button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-top: 20px;
        height: 90px;
        flex-direction: column;
        .login {
          width: 95%;
          height: 40px;
          background-color: #3068cb;
          color: #fff;
          font-size: 18px;
        }

        .delete {
          width: 95%;
          height: 40px;
          background-color: #b62626;
          color: #fff;
          font-size: 18px;
        }
      }
    }
  }
}
