<div class="back-icon" routerLink="/main">
  <img src="../../../../assets/back.png" alt="" />
</div>
<div class="edit-container">
  <div class="edit-mode-off" *ngIf="editModeOn === false">
    <mat-card class="example-card" *ngFor="let book of allBooks">
      <mat-card-header style="background-color: #f6f7f9">
        <mat-card-title class="title-card"
          >Title: {{ book.title }}</mat-card-title
        >
        <mat-card-subtitle style="font-size: 12px"
          >Author: {{ book.author }}</mat-card-subtitle
        >
        <mat-card-subtitle style="font-size: 12px"
          >Condition: {{ book.condition }}</mat-card-subtitle
        >
      </mat-card-header>
      <img
        mat-card-image
        src="../../../../assets/book-cover.png"
        alt="Photo of a Shiba Inu"
        style="height: 210px"
      />
      <div class="edit-book-icon" (click)="openEditMode()">
        <img src="../../../../assets/pen.png" alt="" />
      </div>
    </mat-card>
  </div>
  <div class="edit-mode-on" *ngIf="editModeOn">
    <div class="edit-form">
      <ng-container *ngFor="let book of allBooks">
        <p class="edit-area">
          Title:<input type="text" class="inputs" [(ngModel)]="book.title" />
        </p>
        <p class="edit-area">
          Author:<input type="text" class="inputs" [(ngModel)]="book.author" />
        </p>
        <p class="edit-area">
          Condition:<input
            type="text"
            class="inputs"
            [(ngModel)]="book.condition"
          />
        </p>
      </ng-container>
    </div>
  </div>
</div>

<!-- <table class="table">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Condition</th>
    <th>Action</th>
  </tr> -->
<!-- Loop through allBooks in edit mode -->
<!-- <ng-container *ngFor="let book of allBooks">
    <tr>
      <td>
        <input type="text" [(ngModel)]="book.title" />
      </td>
      <td>
        <input type="text" [(ngModel)]="book.author" />
      </td>
      <td>
        <input type="text" [(ngModel)]="book.condition" />
      </td>
      <td> -->
<!-- Add a button to save the changes -->
<!-- <button (click)="saveChanges()">Save</button>
      </td>
    </tr>
  </ng-container>
</table> -->
