:host {
  display: block;
  height: 100%;

  .register-modal {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    // border: 1px solid black;

    .email-container {
        width: 40%;
      .email-form-field {
        display: flex;
        justify-content: center;
        // width: 60%;
        margin: 0 auto;
        margin-top: 40px;
      }
    }

    .password-container {
        width: 40%;
      .password-form-field {
        display: flex;
        justify-content: center;
        // width: 60%;
        margin: 0 auto;
        margin-top: 40px;
        position: relative;

        .password-input {
          width: 80%;
        }

        .hide-icon {
          position: absolute;
          right: 0.1rem;
          top: 1rem;
          cursor: pointer;
          opacity: 50%;
        }

        .show-icon {
          position: absolute;
          right: 0.1rem;
          top: 1rem;
          cursor: pointer;
          opacity: 50%;
        }
      }
    }
  }
}
