<div class="login-container">
  <div class="left-section">
    <div class="modal">
      <div>
        <h4 class="main-text">swap book</h4>
      </div>
      <div>
        <h1 class="focus-title">Read new book, meet new friend.</h1>
        <h3 class="description-title">
          Discover the world's best community of swapers and readers online.
        </h3>
      </div>
      <div class="image">
        <img
          src="../../../../assets/left-section.png"
          alt=""
          width="90%"
          height="75%"
        />
      </div>
    </div>
  </div>
  <div class="right-section">
    <div class="center-content">
      <h2 class="register-title">Register Now</h2>
      <app-register-form class="form"></app-register-form>
    </div>
  </div>
</div>
