:host {
  display: block;
  height: 100%;

  .main-container {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;

    .book-form {
      height: 100%;
      width: 50%;
      // border: 1px solid black;
      background-color: #f6f7f9;
    }

    .swap-button {
      position: absolute;
      top: 70%;
      left: 45%;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      padding: 5%;
      font-size: 36px;
      opacity: 0.95;
      font-weight: 100;
      text-transform: uppercase;
      background-color: #3068cb;
      color: #fff;
      z-index: 1;
    }

    .all-books {
      height: 100%;
      width: 50%;
      // border: 1px solid black;
      background-color: #ffffff;
    }

    .book-title {
      display: flex;
      justify-content: center;
      color: #000000;
      padding: 10px;
      margin: 0;
      font-size: 36px;
      opacity: 0.95;
      font-weight: 100;
    }
  }
}
