:host {
  display: block;
  height: 100%;

  .container {
    height: 100%;
    .buttons {
      display: flex;
      flex-wrap: wrap;
      border: 1px solid black;
      height: 30%;
      width: 100%;
      align-items: center;
      justify-content: center;
      background-color: #f6f7f9;
      .back-icon {
        background-color: transparent;
        color: #000;
        width: 94%;
        .icon {
          height: 32px;
          width: 32px;
        }
      }
      .swap-button {
        background-color: #3068cb;
        color: #fff;
        width: 94%;
      }
      .auto-button {
        background-color: #656f6c;
        color: #fff;
        width: 94%;
      }
    }
    .filter-settings {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 10%;

      .find-by {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        .author {
          background-color: #fff;
          color: #fff;
          width: 94%;
        }
        .category {
          background-color: #fff;
          color: #fff;
          width: 94%;
        }
      }
    }

    .clear-filter {
      display: flex;
      width: 100%;
      justify-content: center;

      .clear {
        width: 94%;
        background-color: #3068cb;
        color: #fff;
      }
    }
  }
}
