<div class="container">
  <div class="buttons">
    <button
      mat-raised-button
      class="back-icon"
      routerLink="/main"
      aria-label="Example icon button with a heart icon"
    >
      <img class="icon" src="../../../../assets/back.png" alt="" />
    </button>
    <button class="swap-button" mat-raised-button>SWAP BOOK</button>
    <button class="auto-button" mat-raised-button>Auto Select</button>
  </div>
  <div class="filter-settings">
    <div class="find-by">
      <mat-form-field class="author">
        <mat-label>Filter by author</mat-label>
        <mat-select [formControl]="category">
          <mat-option
            *ngFor="let category of categorySource"
            [value]="category.original"
            >{{ category.original }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="find-by">
      <mat-form-field class="category">
        <mat-label>Filter by book category</mat-label>
        <mat-select [formControl]="category" multiple>
          <mat-option
            *ngFor="let category of categorySource"
            [value]="category.original"
            >{{ category.original }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="find-by">
      <mat-form-field class="category">
        <mat-label>Filter by language</mat-label>
        <mat-select [formControl]="language">
          <mat-option
            *ngFor="let language of languageSource"
            [value]="language.original"
            >{{ language.original }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
